body {
    display: block;
    margin: 32px auto;
    padding: 16px;
    color: #444;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    max-width: 800px;
    line-height: 1.4;
}
p.fr {
    margin-top: -16px;
}
span.wr {
    color: #c0392b;
    font-weight: 600;
}
small {
    font-size: .4em;
}
.momfw {
    color: rgb(92, 22, 22);
}
p.mini_p {
    font-family: monospace;
    font-size: .9em;
}
span.cool { 
    color: #444;
    font-weight: 700;
}
span.better {
    color: #444;
    font-weight: 700;
}
div {
    display: block;
    unicode-bidi: isolate;
}
div.pictures div.picture {
    float: left;
    width: 40%;
    overflow: hidden;
    margin-right: 1em;
}
div.pictures div.picture figure {
    margin: 10px;
}
figure {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
    unicode-bidi: isolate;
}
div.pictures div.picture img {
    width: 100%;
}
div.pictures div.picture figure figcaption {
    font-size: .7em;
}
div.pictures div.para_right {
    float: left;
    width: 55%;
}
blockquote {
    margin-left: 0;
    margin-top: 2em;
    margin-bottom: 2em;
    color: #456;
}
a.small_pic {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
}
a.small_pic img.small_pic {
    height: 2em;
    align-items: center;
}
span.visited {
    color: #941352;
}