* {
    box-sizing: border-box;
    margin: 0;
    position: relative;
    font-weight: 400;
}

body {
    max-width: 800px;
    margin: auto;
    display: block;
    line-height: 1.6;
    font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.h2 {
    font-size: 1.6em;
    text-align: center;
    margin: 30px 0 20px;
}

.add-pokemon {
    margin-bottom: 20px;
    text-align: center;
    font-size: 1.6em;
}

.add-pokemon .label {
    font-size: 20px;
}

.add-pokemon .quantity {
    border: 2px solid #343434;
    height: 35px;
    font-size: 20px;
}

.add-pokemon .button, .button_auto {
    background-color: #fff;
    color: black;
    padding: 5px 10px;
    border: 1px solid #111;
    border-radius: 30px;
    cursor: pointer;
    font-size: 20px;
}

.add-auto {
    display: flex;
    justify-content: center;
}

.input {
    max-width: 500px;
    width: 100%;
    margin: 0 auto 20px auto; 
    padding: 20px;
    
}

.input .search {
    width: 100%;
    height: 50px;
    padding: 10px;
    border: none;
    border-radius: 30px;
    outline: 1px solid #00000036;
    box-shadow: #64646f33 0 7px 29px;
    font-size: 16px;
}

.label {
    font-size: 16px;
    text-align: center;
}

.container {
    margin-top: 40px; 
    display: flex; 
    gap: 20px;
    flex-wrap: wrap; 
    width: 100%;
}

.elements {
    width: 180px;
    height: 250px;
    border: 1px solid #fff;
    border-radius: 10px;
    box-shadow: 0 0 5px #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* background-color: #f9f9f9; */
    padding: 10px;
    gap: 10px;
}

.id, .name, .categories {
    justify-content: center;
    align-items: center;
}

.picture img {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.name {
    font-weight: bold;
}

.categories {
    display: flex;
    gap: 10px; 
    justify-content: center; 
    margin-top: 10px;
}   

.categories .category {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: #eef;
    font-size: 14px;
    color: #555;
    text-align: center;
    min-width: 50px; 
}

.elements:hover {
    box-shadow: 0 0 10px #000;
    cursor: pointer;
}